<!-- Add Employee Button with Plus Icon -->
<div class="container mt-4">
    <div class="add-button ms-3 me-3">
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">
            <i class="bi bi-plus-circle me-2"></i>Add Employee
        </button>
    </div>
</div>

<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/employee/view-employee/add" method="post" onsubmit="return validatePhoneNumber()">
                    <div class="mb-3">
                        <label for="employeeName" class="form-label">Employee Name</label>
                        <input type="text" class="form-control" id="employeeName" name="employeeName" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="gender" name="gender" required>
                                <option value="" selected disabled>Select Gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="dob" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" id="dob" name="dob" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="department" class="form-label">Department</label>
                            <select class="form-select" id="department" name="department" required>
                                <option value="" selected disabled>Select Department</option>
                                {{#each departments}}
                                    <option value="{{ID_Department}}">{{DepartmentName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="branch" class="form-label">Branch</label>
                            <select class="form-select" id="branch" name="branch" required>
                                <option value="" selected disabled>Select Branch</option>
                                {{#each branches}}
                                    <option value="{{ID_Branch}}">{{BranchName}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary">Add Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="filter ms-3 me-3">
        <span class="filter-name">Employees</span>
        <button class="filter-button">
            <span class="filter-icon">
                <ion-icon name="filter-circle-outline"></ion-icon>
            </span>
        </button>
    </div>
</div>
<div class="container mt-4">
    <div class="filter-content hide ms-3 me-3">
        <form action="/employee/view-employee" method="get">
            <div class="filter-item">
                <label for="branch">Branch</label>
                <select name="branch" id="branch">
                    <option value="all" selected>All</option>
                    {{#each branches}}
                        <option value="{{ID_Branch}}" {{#if (eq ../selectedBranch ID_Branch)}}selected{{/if}}>{{BranchName}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="filter-actions">
                <button type="submit">Apply Filter</button>
                <button type="button" id="reset-filters">Reset</button>
            </div>
        </form>
    </div>
</div>
<div class="container mt-4">
    <div class="ms-3 me-3">
    <input
        type="text"
        id="searchBar"
        class="form-control"
        placeholder="Search by Name, Phone Number, or Department"
        onkeyup="filterEmployees()"
    />
</div>
<div class="container mt-4">    
    <div class="employee ms-3 me-3">
        <div class="row">
            {{#each employees}}
                <div class="col-md-3 col-sm-6 employee-card">
                    <div class="employee-item card mb-4 shadow">
                        <div class="card-body" id="{{ID_Employee}}">
                            <h5 class="card-title text-primary">
                                <ion-icon name="person-circle-outline"></ion-icon> {{EmployeeName}}
                            </h5>
                            <p class="card-text d-flex align-items-center">
                                <i class="bi bi-calendar me-2"></i> 
                                <span><strong>Date of Birth:</strong> {{DoB}}</span>
                            </p>
                            <p class="card-text d-flex align-items-center">
                                <i class="bi bi-telephone me-2"></i> 
                                <span><strong>Phone Number:</strong> {{PhoneNumber}}</span>
                            </p>
                            <p class="card-text d-flex align-items-center">
                                <i class="bi bi-gender-ambiguous me-2"></i> 
                                <span><strong>Gender:</strong> {{#if (eq Gender 'M')}} Male {{else}} Female {{/if}}</span>
                            </p>
                            <p class="card-text d-flex align-items-center">
                                <i class="bi bi-briefcase me-2"></i> 
                                <span><strong>Department:</strong> {{DepartmentName}}</span>
                            </p>
                        </div>
                        <div class="card-footer text-end">
                            <a href="/employee/view-employee/detail/{{ID_Employee}}" class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-eye me-1"></i> Detail
                            </a>
                            <a href="/employee/view-employee/edit/{{ID_Employee}}" class="btn btn-sm btn-outline-primary">
                                <i class="bi bi-pencil me-1"></i> Edit
                            </a>
                            <form action="/employee/view-employee/delete/{{ID_Employee}}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-sm btn-outline-danger">
                                    <i class="bi bi-trash me-1"></i> Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
