<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading mt-3">Pick your items</h1>
      <p class="lead text-muted">Choose your favorite food item, select the
        quantity, and place your order!</p>
      <p>
        <a
          href="{{redirectUrl}}/area/{{areaId}}"
          class="btn btn-primary my-2"
        >Go back</a>
      </p>
    </div>
  </section>

  <div class="album py-3">
    <div class="container">
      <div class="card mb-4">
        <h5 class="card-header">Cart <i class="fa fa-shopping-cart"></i></h5>
        <div class="card-body">
          <h5 class="card-title">Total items:
            <span id="total-items-label">0</span></h5>
          <p class="card-text">Add more, or place your order.</p>
          <div class="d-grid gap-2">
            <input
              type="hidden"
              name="branchId"
              id="branch-id"
              value="{{branchId}}"
            />
            <input
              type="text"
              id="membership-id"
              class="form-control mt-2"
              placeholder="Enter your membership ID"
            />
            <button
              id="place-order"
              class="btn btn-primary"
              disabled
              type="button"
            >Place your order</button>
          </div>
        </div>
      </div>
      <div class="row">
        {{#each allFoods}}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <p class="cart-title"><strong>{{FoodName}}</strong></p>
                <p class="card-text">
                  <span class="text-success">{{formatCurrency Price}}</span>
                  VNĐ</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      data-food-id="{{ID_Food}}"
                      type="button"
                      class="add-one btn btn-sm btn-outline-secondary"
                    >+1</button>
                    <button
                      data-food-id="{{ID_Food}}"
                      type="button"
                      class="remove-one btn btn-sm btn-outline-secondary"
                    >-1</button>
                  </div>
                  <small
                    id="food-item-{{ID_Food}}"
                    class="ml-2 text-info"
                  >0</small>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="billModal"
    tabindex="-1"
    aria-labelledby="billModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="billModalLabel"></h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price per Item (VNĐ)</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total (VNĐ)</th>
              </tr>
            </thead>
            <tbody>
              <!-- Populate rows dynamically here -->
            </tbody>
          </table>
          <div class="text-end">
          </div>
        </div>
        <div class="modal-footer">
          <a id="review-link" class="btn btn-primary">Proceed to Review</a>
          <button
            id="close-bill"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
</main>